@charset "utf-8";

#ufmg {
    width: 100%;
    height: 30vw;
    background-image: url("../imagens/dcc.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: table;
    opacity: 1;
    transition: opacity 0.8s;
}

#ufmg:hover {
    opacity: 0.8;
}

#uni {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    padding: 0px 30px;
    background-color: rgba(180, 180, 180, .3);
}

#ufmg p {
    color: white;
    font-size: 4vw;
    font-weight: 600;
    text-shadow: 0px 0px 3px black;
    margin: auto;
    text-align: center;
    overflow: auto;
}

a:link {
    text-decoration: none;
}

#textijunior {
    width: 100%;
    height: 15vw;
    font-size: 4vw;
    font-weight: 600;
    text-shadow: 0px 0px 3px black;
    background-color: #4e4d4d;
    color: white;
    display: table;
}

#ijunior {
    background-color: #4e4d4d;
    opacity: 1;
    transition: opacity 0.5s;
}

#ijunior:hover {
    opacity: 0.8;
}

#textijunior p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0px 30px;
}

#logo {
    width: 100%;
    height: 15vw;
    background-image: url("../imagens/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: #4e4d4d;
    display: table;
    opacity: 1;
    transition: opacity 0.5s;
}